h2{
color:#1a4db2;
font-family:monospace;
text-align:center;
font-size:73px;
margin-bottom: 14px;
}

strong{
color:#b21a1a;
font-family:monospace;
text-align:center;
font-size:73px;
margin-bottom:14px;
}
img{
margin-left:525px;

}
